.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}

/* .alignment-container {
  padding-top: 3rem;
} */
