.MuiContainer-root-MuiContainer-maxWidthSm-css-kae4yu-MuiContainer-root {
  padding-right: 0rem;
  padding-left: 0rem;
}

.box-MuiBox-root-css-cuqtms {
  padding-bottom: 0rem;
  padding-right: 0rem;
  padding-left: 4rem;
  padding-top: 2rem;
}

.MuiBox-root-css-1gjlakx {
  padding-top: 0rem;
}

.MuiTypography-root-MuiTypography-h5-MuiTypography-gutterBottom-css-xwdu4f-MuiTypography-root {
  padding-bottom: 2rem;
}

/* .alignmentBlock28937 {
  padding-top: 0rem;
  padding-bottom: -4rem;
} */
